@model IEnumerable<SistemaPerfiladoCriminal.Models.DetallesAutor>

@{
    ViewBag.Title = "Detalles de autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de autor</h2>

<p>
    @Html.ActionLink("Crear detalle", "Create")
</p>
<table class="table">
    <tr>
        <th>Id detalle</th>
        <th>
            @Html.DisplayNameFor(model => model.LstrDetalle)
        </th>
        <th>Nombre autor</th>
        <th>Id autor</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LintId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LstrDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAutor.LstrNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAutor.LintId)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.LintId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.LintId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.LintId })
            </td>
        </tr>
    }

</table>
