@model SistemaPerfiladoCriminal.Models.Caso

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Caso</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Nombre del caso</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LstrNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LstrNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#victima">Víctima</a>
        </li>
        <li>
            <a data-toggle="tab" href="#escenario">Escenario</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="victima" role="tabpanel" aria-labelledby="home-tab">
            <br />

            <div id="victima-1" class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="foto" class="col-sm-2 col-form-label">Fotografía</label>
                        <div class="col-sm-10">
                            <input type="file" id="foto" accept="image/png, image/jpeg">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="causa" class="col-sm-2 col-form-label">Causa</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="causa" placeholder="Causa">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="alias" class="col-sm-2 col-form-label">Alias</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alias" placeholder="Alias">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="sexo" class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sexo" placeholder="Sexo">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cedula" placeholder="Cédula">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="fechaNacimiento" class="col-sm-2 col-form-label">Fecha de nacimiento</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="fechaNacimiento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nacionalidad" class="col-sm-2 col-form-label">Nacionalidad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nacionalidad" placeholder="Nacionalidad">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="edad" class="col-sm-2 col-form-label">Edad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edad" placeholder="Edad">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="peso" class="col-sm-2 col-form-label">Peso</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="peso" placeholder="Peso">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="estatura" class="col-sm-2 col-form-label">Estatura</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="estatura" placeholder="Estatura">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tez" class="col-sm-2 col-form-label">Tez</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tez" placeholder="Tez">
                        </div>
                    </div>
                </div>
            </div>

            <div id="victima-2" class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="cabello" class="col-sm-2 col-form-label">Cabello</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cabello" placeholder="cabello">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ojos" class="col-sm-2 col-form-label">Ojos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ojos" placeholder="Ojos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="marcas" class="col-sm-2 col-form-label">Marcas especiales</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="marcas" placeholder="Marcas especiales">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ocupacion" class="col-sm-2 col-form-label">Ocupacion</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ocupacion" placeholder="Ocupacion">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="escolaridad" class="col-sm-2 col-form-label">Escolaridad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="escolaridad" placeholder="Escolaridad">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="creencia" class="col-sm-2 col-form-label">Creencia religiosa</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="creencia" placeholder="Creencia religiosa">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="habitos" class="col-sm-2 col-form-label">Hábitos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="habitos" placeholder="Hábitos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pasatiempos" class="col-sm-2 col-form-label">Pasatiempos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="pasatiempos" placeholder="Pasatiempos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="padecimientos" class="col-sm-2 col-form-label">Padecimientos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="padecimientos" placeholder="Padecimientos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="historial" class="col-sm-2 col-form-label">Historial médico</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="historial" placeholder="Historial médico">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lugarNacimiento" class="col-sm-2 col-form-label">Lugar de nacimiento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lugarNacimiento" placeholder="Lugar de nacimiento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                        </div>
                    </div>
                </div>

            </div>

            <div id="victima-3" class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="estadoConyugal" class="col-sm-2 col-form-label">Estado conyugal</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="estadoConyugal" placeholder="Estado conyugal">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="salidasPais" class="col-sm-2 col-form-label">Salidas del país</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="salidasPais" placeholder="Teléfono">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="expedienteCriminal" class="col-sm-2 col-form-label">Expediente criminal</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="expedienteCriminal" placeholder="Expediente criminal">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pasadaPor" class="col-sm-2 col-form-label">Pasada por</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="pasadaPor" placeholder="Pasada por">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="privacionLibertad" class="col-sm-2 col-form-label">Privación de libertad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="privacionLibertad" placeholder="Privación de libertad">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="informacionResena" class="col-sm-2 col-form-label">Información de reseña</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="informacionResena" placeholder="Información de reseña">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="autopsia" class="col-sm-2 col-form-label">Autopsia</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="autopsia" placeholder="Autopsia">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dictamenToxicologico" class="col-sm-2 col-form-label">Dictamen toxicológico</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dictamenToxicologico" placeholder="Dictamen toxicológico">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="laboratorio" class="col-sm-2 col-form-label">Laboratorio</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="laboratorio" placeholder="Laboratorio">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="fluidosBiologicos" class="col-sm-2 col-form-label">Fluídos biológicos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fluidosBiologicos" placeholder="Fluídos biológicos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="maneraMuerte" class="col-sm-2 col-form-label">Manera de muerte</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="maneraMuerte" placeholder="Manera de muerte">
                        </div>
                    </div>
                </div>
            </div>

            <div id="victima-4" class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group row">
                        <label for="causaMuerte" class="col-sm-2 col-form-label">Causa de muerte</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="causaMuerte" placeholder="Causa de muerte">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lesionesEncontradasAutopsia" class="col-sm-2 col-form-label">Lesiones encontradas en autopsia</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lesionesEncontradasAutopsia" placeholder="Lesiones encontradas en autopsia">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="toxicologia" class="col-sm-2 col-form-label">Toxicología</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="toxicologia" placeholder="Toxicología">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" id="victima-page-1-li" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" id="victima-page-2-li" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" id="victima-page-3-li" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" id="victima-page-4-li" href="#">4</a></li>
                </ul>
            </nav>
        </div>

        <div id="escenario" class="tab-pane fade in">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

@Scripts.Render("~/scripts/tabs.js")