@model SistemaPerfiladoCriminal.Models.EntrevistaEscenario

@{
<<<<<<< HEAD
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
<<<<<<< HEAD
    ViewBag.Title = "Details";
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
}

<h2>Detalles</h2>

<div>
<<<<<<< HEAD
    <h4>Entrevista de escenario</h4>
=======
    <h4>EntrevistaEscenario</h4>
=======
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Entrevista de escenario</h4>
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LstrNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LstrDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrDescripcion)
        </dd>

    </dl>
</div>
<p>
<<<<<<< HEAD
    @Html.ActionLink("Editar", "Edit", new { id = Model.LintId })
=======
<<<<<<< HEAD
    @Html.ActionLink("Edit", "Edit", new { id = Model.LintId }) |
    @Html.ActionLink("Back to List", "Index")
=======
    @Html.ActionLink("Editar", "Edit", new { id = Model.LintId })
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
</p>
