@model SistemaPerfiladoCriminal.Models.Escenario

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Escenario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrNombre)
        </dd>

        <dt>
            Día del hallazgo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrDiaHallazgo)
        </dd>

        <dt>
            Fecha del hallazgo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrFechaHallazgo)
        </dd>

        <dt>
            Hora del hallazgo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrHoraHallazgo)
        </dd>

        <dt>
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrUbicacion)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> 
        </div>
    }
</div>
