@model SistemaPerfiladoCriminal.Models.Reconstruccion

@{
<<<<<<< HEAD
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reconstruccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LstrNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
=======
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.LstrNombre</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Detalle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var caracteristica in Model.LcolCaracteristicas.ToList())
        {
            <tr>
                <td>
                    @caracteristica.LstrDetalle
                </td>
                <td>
                    @Html.ActionLink("Editar", "../CaracteristicasReconstrucciones/Edit", new { id = caracteristica.LintId }) |
                    @Html.ActionLink("Eliminar", "../CaracteristicasReconstrucciones/Delete", new { id = caracteristica.LintId })
                </td>
            </tr>
        }
    </tbody>
</table>
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
