@model IEnumerable<SistemaPerfiladoCriminal.Models.Reconstruccion>

@{
<<<<<<< HEAD
    ViewBag.Title = "Reconstrucciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
<<<<<<< HEAD
    ViewBag.Title = "Index";
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
}

<h2>Reconstrucciones</h2>

<p>
<<<<<<< HEAD
    @Html.ActionLink("Crear reconstrucción", "Create")
=======
    @Html.ActionLink("Create New", "Create")
=======
    ViewBag.Title = "Reconstrucciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reconstrucciones</h2>

<p>
    @Html.ActionLink("Crear reconstrucción", "Create")
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LstrNombre)
        </th>
        <th></th>
    </tr>

<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LstrNombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.LintId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.LintId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.LintId })
            </td>
        </tr>
    }
=======
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LstrNombre)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Edit", "Edit", new { id=item.LintId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LintId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LintId })
=======
            @Html.ActionLink("Editar", "Edit", new { id=item.LintId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.LintId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.LintId })
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
        </td>
    </tr>
}
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d

</table>
