@model IEnumerable<SistemaPerfiladoCriminal.Models.InferenciaVictima>

@{
    ViewBag.Title = "Index";
<<<<<<< HEAD
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
<<<<<<< HEAD
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
}

<h2>Inferencias de víctimas</h2>

<p>
<<<<<<< HEAD
    @Html.ActionLink("Crear inferencia", "Create")
=======
    @Html.ActionLink("Create New", "Create")
=======
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inferencias de víctimas</h2>

<p>
    @Html.ActionLink("Crear inferencia", "Create")
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
</p>
<table class="table">
    <tr>
        <th>
<<<<<<< HEAD
            Nombre
        </th>
        <th>
            Descripción
=======
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.LstrTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LstrDescripcion)
=======
            Nombre
        </th>
        <th>
            Descripción
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LstrTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LstrDescripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LintId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LintId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LintId })
            </td>
        </tr>
    }

</table>
