@model IEnumerable<SistemaPerfiladoCriminal.Models.CaracteristicasReconstruccion>

@{
    ViewBag.Title = "Caracteristicas de reconstrucción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Caracteristicas de reconstrucción</h2>

<p>
    @Html.ActionLink("Crear característica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LstrDetalle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LstrDetalle)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.LintId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.LintId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.LintId })
            </td>
        </tr>
    }

</table>
