@model IEnumerable<SistemaPerfiladoCriminal.Models.CaracteristicasReconstruccion>

@{
<<<<<<< HEAD
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
=======
    ViewBag.Title = "Caracteristicas de reconstrucción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Caracteristicas de reconstrucción</h2>

<p>
    @Html.ActionLink("Crear característica", "Create")
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LstrDetalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LstrDetalle)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Edit", "Edit", new { id=item.LintId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LintId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LintId })
=======
            @Html.ActionLink("Editar", "Edit", new { id=item.LintId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.LintId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.LintId })
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
        </td>
    </tr>
}

</table>
