@model SistemaPerfiladoCriminal.Models.EntrevistaVictima

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Entrevista de víctima</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LstrNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LstrDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrDescripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
